<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    {{ var }}
    <br>
    <form action="" method="post">
        <input type="text" placeholder="title" name="title">
        <br>
        <input type="text" placeholder="text" name="text">
        <br>
        <input type="email" placeholder="email" name="email">
        <br>
        <input type="submit">
    </form>
    <br>
    <a href="{{ base_url }}">Home</a>
    <br>
    <a href="{{ base_url }}about/">About</a>
</body>
</html>