{% extends base %}

{% block title %}
Edit course
{% endblock title %}

{% block content %}
<form action="" method="post">
        <input type="hidden" name="course_id" value="{{ course.id }}">
        <input type="text" placeholder="name" value="{{ course.name }}" name="name">
        <br>
        {% address_if : if {{ course.type_ }} == offline %}
        <input type="text" placeholder="address" name="address" value="{{ course.address }}">
        {% else %}
        <input type="text" placeholder="platform" name="platform" value="{{ course.platform }}">
        {% endif address_if %}
        <br>
        <input type="submit">
</form>
{% endblock content %}