{% extends base %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<b>Categories</b>
<table>
    <th>Id</th>
    <th>Name</th>
    <th>Parent category</th>
    <th>Courses</th>
{% categories_list : for category in categories %}
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.get_category }}</td>
        <td>{{ category.courses_count }}</td>
    </tr>
{% endfor categories_list %}
</table>

<p><a href="{{ base_url }}categories/create/">Create category</a></p>

<b>Courses</b>
<table>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
{% courses_list : for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.category_name }}</td>
        <td><a href="{{ base_url }}courses/edit/?course_id={{ course.id }}">Edit</a></td>
        <td><a href="{{ base_url }}courses/copy/?course_id={{ course.id }}">Copy</a></td>
    </tr>
{% endfor courses_list %}
</table>

<p><a href="{{ base_url }}courses/create/">Create course</a></p>

<b>Students</b>
<table>
    <th>Id</th>
    <th>Username</th>
{% students_list : for user in students %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td><a href="{{ base_url }}users/courses/?user_id={{ user.id }}">Courses</a></td>
    </tr>
{% endfor students_list %}
</table>
<br>
<b>Teachers</b>
<table>
    <th>Id</th>
    <th>Username</th>
{% teachers_list : for user in teachers %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td><a href="{{ base_url }}users/courses/?user_id={{ user.id }}">Courses</a></td>
    </tr>
{% endfor teachers_list %}
</table>
<br>
<b>Admins</b>
<table>
    <th>Id</th>
    <th>Username</th>
{% admins_list : for user in admins %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td><a href="{{ base_url }}users/courses/?user_id={{ user.id }}">Courses</a></td>
    </tr>
{% endfor admins_list %}
</table>

<p><a href="{{ base_url }}users/create">Create user</a></p>

{% endblock content %}